<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      You have receive an Egift Card worth <%=@egift_card.currency %> <%= @egift_card.original_value%> from <%= @egift_card.sender_name%> with the following message :
    </p>

    <p>
      <%= @egift_card.message %>
    </p>
    <p>
      Enter this code <%= @egift_card.code_formatted %> and your pin number <%= @egift_card.pin %> at checkout to redeem your gift card.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>