<div data-hook="admin_egift_card_form_fields" >

  <div class="row clearfix">
    <div  class="col-md-4">
      <%= f.field_container :recipient_email, class: ['form-group'] do %>
        <%= f.label :recipient_email %> <span class="required">*</span><br/>
        <%= f.text_field :recipient_email, :class => "form-control" %>
        <%= f.error_message_on :recipient_email %>
      <% end %>
    </div>
    <div class="col-md-4">
      <%= f.field_container :recipient_firstname, class: ['form-group'] do %>
        <%= f.label :recipient_firstname %> <span class="required">*</span><br/>
        <%= f.text_field :recipient_firstname, :class => "form-control" %>
        <%= f.error_message_on :recipient_firstname %>
      <% end %>
    </div>
    <div class="col-md-4">
      <%= f.field_container :recipient_lastname, class: ['form-group']  do %>
        <%= f.label :recipient_lastname %> <span class="required">*</span><br/>
        <%= f.text_field :recipient_lastname, :class => "form-control" %>
        <%= f.error_message_on :recipient_lastname %>
      <% end %>
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-md-4">
      <%= f.field_container :sender_firstname, class: ['form-group'] do %>
        <%= f.label :sender_firstname %> <span class="required">*</span>
        <%= f.text_field :sender_firstname, :class => "form-control" %>
        <%= f.error_message_on :sender_firstname %>
      <% end %>
    </div>

    <div class="col-md-4">
      <%= f.field_container :sender_lastname, class: ['form-group'] do %>
        <%= f.label :sender_lastname %> <span class="required">*</span>
        <%= f.text_field :sender_lastname, :class => "form-control" %>
        <%= f.error_message_on :sender_lastname %>
      <% end %>
    </div>

    <div class="col-md-4">
      <%= f.field_container :original_value, class: ['form-group'] do %>
        <%= f.label :original_value, :amount %> <span class="required">*</span>
        <%= f.text_field :original_value, :class => "form-control" %>
        <%= f.error_message_on :original_value %>
      <% end %>
    </div>
  </div>
  <div class="row clearfix">


    <div class="col-md-8">
      <%= f.field_container :message, class: ['form-group'] do %>
        <%= f.label :message %> <span class="required">*</span>
        <%= f.text_area :message, { rows: 13, :class => "form-control" } %>
        <%= f.error_message_on :original_value %>
      <% end %>
    </div>
  </div>
</div>
